{% extends "layout.html" %}

{% block content %}
    <img src="{{ user_image }}" alt="Car Image" style="max-width: 100%; height: auto;">
    
    <section class="introduction">
        <h2>Discover Our Cars</h2>
        <p>Cars are more than just machines; they represent a passion for engineering, design, and speed. Below, you'll find a selection of some of the best cars from around the world.</p>
    </section>

    <table>
        <thead>
            <tr>
                <th>Make</th>
                <th>Model</th>
                <th>Year</th>
                <th>Country of Origin</th>
            </tr>
        </thead>
        <tbody>
            {% for car in cars %}
            <tr>
                <td>{{ car[0] }}</td>
                <td>{{ car[1] }}</td>
                <td>{{ car[2] }}</td>
                <td>{{ car[3] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
