{% extends "layout.html" %}
{% block content %}
<header>
    <h1>Engines</h1>
</header>

<img src="{{ user_image }}" alt="Car Image" style="max-width: 100%; height: auto;">

<table>
    <thead>
        <tr>
            <th>Make</th>
            <th>Model</th>
            <th>EngineType</th>
            <th>HorsePower</th>
            <th>TorqueNm</th>
            <th>0-60 Time (s)</th>
        </tr>
    </thead>
    <tbody>
        {% if engines %}
            {% for engine in engines %}
            <tr>
                <td>{{ engine[2] }}</td>
                <td>{{ engine[3] }}</td>
                <td>{{ engine[4] }}</td>
                <td>{{ engine[5] }}</td>
                <td>{{ engine[6] }}</td>
                <td>{{ engine[7] }}</td>
            </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="6">No engine data available.</td>
            </tr>
        {% endif %}
    </tbody>
</table>
{% endblock %}
