{% extends "layout.html" %}
{% block content %}
<header>
    <h1>Pricing</h1>
</header>

<img src="{{ user_image }}" alt="Money" style="max-width: 100%; height: auto;">

<table>
    <thead>
        <tr>
            <th>Make</th>
            <th>Model</th>
            <th>Price(USD)</th>
        </tr>
    </thead>
    <tbody>
        {% for price in pricing %}
        <tr>

            <td>{{ price[2] }}</td>
            <td>{{ price[3] }}</td>
            <td>{{ price[4] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
(USD)