<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/stylesheet.css">
    <title>Register</title>

    <script>
        function validateForm() {
            var username = document.forms["register-form"]["username"].value;
            var password = document.forms["register-form"]["password"].value;
            var confirmPassword = document.forms["register-form"]["confirm-password"].value;

            if (!username) {
                alert("Username must be filled out");
                return false;
            }

            if (!password) {
                alert("Password must be filled out");
                return false;
            }

            if (!confirmPassword) {
                alert("Confirm Password must be filled out");
                return false;
            }

            if (password !== confirmPassword) {
                alert("Passwords do not match");
                return false;
            }

            return true;
        }
    </script>
</head>
<body class="register">
    <div class="container">
        <form name="register-form" action="/register" onsubmit="return validateForm()" method="POST">
            <h2>Register:</h2>
            {% if error %}
                <p class="error">{{ error }}</p>
            {% endif %}
            <input type="text" name="username" placeholder="Username" required><br>
            <input type="password" name="password" placeholder="Password" required><br>
            <input type="password" name="confirm-password" placeholder="Confirm Password" required><br>
            <button type="submit">Submit</button>
        </form>
        <p>If you already have an account, <a href="/login" style="text-decoration: underline; color: blue;">sign in</a>.</p>
    </div>
</body>
</html>
