<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title class="title">Cars</title>
    <link rel="stylesheet" href="stylesheet.css">
</head>
<style>




</style>
<body>
    


    <h1 class="title">Cars</h1>
   
    <img src="{{ user_image }}" alt="Italian Trulli">
   
    <div class="header">
        <h2>Scroll Down</h2>
        <p>Scroll down to see the sticky effect.</p>
      </div>
      
      <ul>
        <li><a class="active" href="/index">Home</a></li>
        <li><a href="/engines">Engines</a></li>
        <li><a href="/pricing">Pricing</a></li>
      </ul>



    <table>
        <thead>
            <tr>
                <th class="come_on">Make</th>
                <th class="come_on">Model</th>
                <th class="come_on">Year</th>
                <th class="come_on">Country of Origin</th>
            </tr>
        </thead>
        <tbody>
            {% for car in cars %}
            <tr>
                <td class="chur_ow">{{ car[0] }}</td>
                <td class="chur_baka">{{ car[1] }}</td>
                <td class="chur_wow">{{ car[2] }}</td>
                <td class="chur_red">{{ car[3] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>
