.come_on {
    color: aqua;
}
.chur_ow {
    color: blueviolet;
}
.chur_baka {
    color: chartreuse;
}
.chur_wow {
    color: yellow;
}
.chur_red {
    color: red;
}
.title {
color: aliceblue;
}